.ebtnLL {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(12.008,12.8,12.592,var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    overflow-x: auto;
}

